* {
    box-sizing: border-box;
  }
  body {
    width: 100%;
    height: 100%;
}
  header {
    line-height: 32px;
    width:100%;
    
  }

  .name {
    margin-left: 120px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:  white;
    background: #4aaaa5;
    float: left;
    text-align: center;
  }

  .RightNav {
      margin-right: 120px;
      float: right;
      font-family: sans-serif;
      color: Gray;
      font-size: 10;
      text-align: center;
  }


  #fScreen {
    width: 100%;  
    height: 500px;
    float: left;
    padding-left: 0px;
    padding-bottom:20px;
    border-top:  rgb(218, 216, 214) solid 3px;
    background: rgb(240, 238, 236);
    border-bottom: #4aaaa5 solid 10px;
  }

  .mainSection {
      max-width: 960px;
      width: 960px;
      margin-left: 120px;
      margin-top: 20px;
      margin-bottom: 40px;
      background: white;
      padding-bottom: 100;
      float: left;
      overflow: auto;
      height: 350px;
  }

  #sectionTitle{
      padding-left: 10px;
      margin-top: 10px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: #4aaaa5;
      float: left;
  }

  #divider {
      margin-top: 10px;
      margin-bottom:10px;
      padding-left: 15px;
      padding-right: 15px;
      /* width: 940px; */
      width:100%;
      height: 2px;
      background: rgb(218, 216, 214);

  }

  .imagetable {
    float:left;

  }

  img {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  h3 {
    background: #4aaaa5;
    color: white;
    font-family: serif;
    font-size:15px;
    
  }
  footer {
    width: 100%;
    height: 80px;
    float: left;
    text-align: center;
    vertical-align: text-bottom;
    font-size: 2;
    font-family: sans-serif;
    border-top: #4aaaa5 solid 10px;
    background: #666666;
    padding-top: 50px;
    color: white; 
  }

  @media screen and (max-width: 980px) {
    body {
      width: 100%;
    }
    #fScreen {
      max-width: 75%; /*100 */
      width: 75%; /*100 */
      height: 600px;
    }

    .mainSection {
    /* max-width: 480px;
    width: 460px; */
    max-width: 75%;
    width: 75%;
    height: 550px;    
    margin-left: 20px;
    }
  }

  @media screen and (max-width: 768px) {
    body {
      width: 100%;
    }
    #fScreen {
      max-width: 75%; /*100 */
      width: 75%; /*100 */
      height: 600px;
    }

    .mainSection {
    /* max-width: 480px;
    width: 460px; */
    max-width: 75%;
    width: 75%;
    height: 550px;    
    margin-left: 20px;
  }
  }

  @media screen and (max-width: 640px) {
    body {
        width: 100%;
    }
    #fScreen {
      max-width: 100%; /*100 */
      width: 100%; /*100 */
      height: 600px;
    }

    .mainSection {
    /* max-width: 480px;
    width: 460px; */
    max-width: 75%;
    width: 75%;
    height: 550px;    
    margin-left: 20px;
  }
  }