* {
    box-sizing: border-box;
    /*text-align: left;*/
  }

  header {
    /*padding: 0px;
    margin-bottom: 20px;
    color: #333; */
    /* background: Gray; */
    line-height: 32px;
    width:100%;
    /*height:50px;*/
    
  }

  .name {
    margin-left: 120px;
    padding: 10 10 10 10;
    /*margin: 0 auto;*/ 
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /*font-size: 150;*/
    color:  white;
    background: #4aaaa5;
    float: left;
    text-align: center;
  }

  .RightNav {
      margin-right: 120px;
      /*margin-top: 30px;*/
      float: right;
      font-family: sans-serif;
      color: Gray;
      /*background: yellowgreen;*/
      font-size: 10;
      text-align: center;
  }


  #fScreen {
    width: 100%;  
    float: left;
    padding-left: 0px;
    margin-top: 0px;
    border-width:10 10 10 10;
    border-color: #4aaaa5;
    background: rgb(240, 238, 236);

  }

  .mainSection {
      max-width: 960px;
      width: 960px;
      /*margin: 0 auto; */
      margin-left: 120px;
      margin-top: 20px;
      margin-bottom: 40px;
      border-bottom-color: #4aaaa5;
      /*padding-top: 20px;*/
      background: white;
      float: left;
  }

  #sectionTitle{
      /*padding-top: 20px; */
      padding-left: 10px;
      margin-top: 10px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: #4aaaa5;
      float: left;
  }

  #divider {
      margin-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
      width: 940px;
      height: 2px;
      background: rgb(240, 238, 236);

  }

  #myPhoto {
      margin-top: 20px;
      padding-left: 10px;
      float: left;
      margin-bottom: 10px;

  }

  #myDescription {
    /*margin-top: 20px; */
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    Color: Gray;
    /*padding-right: 20px;
    float: right;*/
  }

footer {
    width: 100%;
    height: 50px;
    float: left;
    margin-top: 5px;
    /*padding: 20px; */
    text-align: center;
    vertical-align: text-bottom;
    font-size: 2;
    font-family: sans-serif;
    border-top-color: #4aaaa5;
    border-top-width: 3px;
    background: #666666;
    color: white; 
  }