* {
    box-sizing: border-box;
  }

  body {
      width: 100%;
      height: 100%;
  }

  header {
    line-height: 32px;
    width:100%;
    
  }

  .name {
    margin-left: 120px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:  white;
    background: #4aaaa5;
    float: left;
    text-align: center;
  }

  .RightNav {
      margin-right: 120px;
      float: right;
      font-family: sans-serif;
      color: Gray;
      font-size: 10;
      text-align: center;
  }


  #fScreen {
    width: 100%;  
    height: 500px;
    float: left;
    padding-left: 0px;
    padding-bottom:20px;
    border-top:  rgb(218, 216, 214) solid 3px;
    background: rgb(240, 238, 236);
    border-bottom: #4aaaa5 solid 10px;
  }

  .mainSection {
      max-width: 960px;
      width: 960px;
      margin-left: 120px;
      margin-top: 20px;
      margin-bottom: 40px;
      background: white;
      padding-bottom: 100;
      float: left;
  }

  #sectionTitle{
      padding-left: 10px;
      margin-top: 10px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: #4aaaa5;
      float: left;
  }

  #divider {
      margin-top: 10px;
      padding-left: 15px;
      padding-right: 15px;
      /* width: 940px; */
      width: 100%;
      height: 2px;
      background: rgb(218, 216, 214);

  }

  #photDescriptionContainer {
    height: 100%;
    width: 100%;
    margin: auto;
    background: orange;
  }

  #myPhoto {
      margin-top: 20px;
      float: left;
      margin-bottom: 10px;
      background: Gray;
      display: block;

  }

  #myDescription {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    Color: Gray;
    float: top;
    display: block;
    margin-left: 0px;
    padding-left: 170px;
    padding-right: 70px;
    padding-top: 12px;
  }

  #clear {
      clear: both;
  }

footer {
    width: 100%;
    height: 80px;
    float: left;
    text-align: center;
    vertical-align: text-bottom;
    font-size: 2;
    font-family: sans-serif;
    border-top: #4aaaa5 solid 10px;
    background: #666666;
    padding-top: 50px;
    color: white; 
    position: fixed;
    bottom: 0;
  }

   /*
  These rules take effect when the browser's width
  is either 980px or less.
*/
@media screen and (max-width: 980px) {
    body {
        width:100%;
    }
    .mainSection {
        max-width: 480px;
      width: 460px;
      height: 100%;    
      margin-left: 20px;
    }
  }

  /*
  These rules take effect when the browser's width
  is either 768px or less.
*/
@media screen and (max-width: 768px) {
    body {
      width: 100%;
    }

    .name {
        margin-left: 20px;
        width: 200px;
        padding-left: 10px;
        padding-right: 10px;
        font-weight: bold;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color:  white;
        background: #4aaaa5;
        float: left;
        text-align: center;
      }

    #photDescriptionContainer {
        display: flex;
        flex-direction: column;
        width: 200px;
        flex-wrap: wrap;
      }
    #fScreen {
        max-width: 100%;
        width: 100%;
        height: 600px;
    }
    .mainSection {
        max-width: 480px;
      width: 460px;
      height: 550px;    
      margin-left: 20px;
    }

    #myDescription {
        /* width: 50%; */
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        Color: Gray;
        margin-left: 0px;
        padding-top: 12px;
      } 
      p {
          margin: 0 0 0 0;
      }
  
  }

  
  /*
  These rules take effect when the browser's width
  is either 640px or less.
*/
@media screen and (max-width: 640px) {
    body {
        width: 100%;
      }
      .mainSection {
        max-width: 480px;
      width: 460px;
      height: 550px;    
      margin-left: 20px;
    }
  }