* {
    box-sizing: border-box;
    /*text-align: left;*/
  }

  header {
    /*padding: 0px;
    margin-bottom: 20px;
    color: #333; */
    /* background: Gray; */
    line-height: 32px;
    width:100%;
    /*height:50px;*/
    
  }

  .name {
    margin-left: 120px;
    /* padding: 10 10 10 10; */
    padding-left: 10px;
    padding-right: 10px;
    /*margin: 0 auto;*/ 
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /*font-size: 150;*/
    color:  white;
    background: #4aaaa5;
    float: left;
    text-align: center;
  }

  .RightNav {
      margin-right: 120px;
      /*margin-top: 30px;*/
      float: right;
      font-family: sans-serif;
      color: Gray;
      /*background: yellowgreen;*/
      font-size: 10;
      text-align: center;
  }


  #fScreen {
    width: 100%;  
    height: 500px;
    float: left;
    padding-left: 0px;
    padding-bottom:20px;
    border-top:  rgb(218, 216, 214) solid 3px;
    background: rgb(240, 238, 236);
    border-bottom: #4aaaa5 solid 10px;
  }

  .mainSection {
      max-width: 960px;
      width: 960px;
      /*margin: 0 auto; */
      margin-left: 120px;
      margin-top: 20px;
      margin-bottom: 40px;
      /*padding-top: 20px;*/
      background: white;
      padding-bottom: 100;
      float: left;
  }

  #sectionTitle{
      /*padding-top: 20px; */
      padding-left: 10px;
      margin-top: 10px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: #4aaaa5;
      float: left;
  }

  #divider {
      margin-top: 10px;
      padding-left: 15px;
      padding-right: 15px;
      width: 940px;
      height: 2px;
      background: rgb(218, 216, 214);

  }

  /* #myPhoto, #imagebox {
      float: left; 
  }*/
  #photDescriptionContainer {
    height: 100%;
    width: 100%;
    margin: auto;
    background: orange;
  }

  #myPhoto {
      margin-top: 20px;
      /* padding-left: 10px; */
      float: left;
      /* clear: left;
      clear: top; */
      margin-bottom: 10px;
      background: Gray;
      display: block;

  }

  #myDescription {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    Color: Gray;
    /* background: orange; */
    /*padding-right: 20px; */
    float: top;
    display: block;
    margin-left: 0px;
    padding-left: 170px;
    padding-right: 70px;
    padding-top: 12px;
  }

  #clear {
      clear: both;
  }

footer {
    width: 100%;
    height: 80px;
    float: left;
    text-align: center;
    vertical-align: text-bottom;
    font-size: 2;
    font-family: sans-serif;
    border-top: #4aaaa5 solid 10px;
    background: #666666;
    padding-top: 50px;
    color: white; 
  }